# project 2

In [19]:
import pandas as pd

record = {'segments':["Refreshment Beverages", "Confectionery", "Intermediate Cocoa Products"],
          'manufacture and sale':["Bournvita and Hot Chocolate", "Tom Tom and Buttermint", "cocoa powder, cocoa butter, cocoa liquor and cocoa cake"],
          'Brands':["CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE", "TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT", "COCOA POWDER and COCOA BUTTER"]
         }
df = pd.DataFrame(record)

df[['segments', 'manufacture and sale', 'Brands']]

,segments,manufacture and sale,Brands
0,Refreshment Beverages,Bournvita and Hot Chocolate,CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCO...
1,Confectionery,Tom Tom and Buttermint,"TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT"
2,Intermediate Cocoa Products,"cocoa powder, cocoa butter, cocoa liquor and c...",COCOA POWDER and COCOA BUTTER

# project 1

In [42]:
import pandas as pd
 
# making data frame from csv file
BTC = pd.read_csv("C:/Users/USER/Documents/BTC_DATA_V3.0.csv")
TREND = pd.read_csv("C:/Users/USER/Documents/programming language trend over time.csv")


# Extract the first row as a DataFrame
bf = BTC.iloc
tf = TREND.iloc


# Print the DataFrame
print(bf[:7])
print("\n")  
print(tf[:7])
print("\n")  

print(bf[:3])
print("\n")  
print(tf[:3])
print("\n")  

print(bf[:1])
print("\n")  
print(tf[:1])
print("\n")

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%


        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17
5  5/26/2019      55    57   17
6   6/2/2019      54    58   15


        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%


        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17


        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%


        Week  Python  Java  C++
0  4/21/2019      55    55   18

# there was no excel for google play store