# project 2

In [44]:
import pandas as pd

record = {'segments':["Refreshment Beverages", "Confectionery", "Intermediate Cocoa Products"],
          'manufacture and sale':["Bournvita and Hot Chocolate", "Tom Tom and Buttermint", "cocoa powder, cocoa butter, cocoa liquor and cocoa cake"],
          'Brands':["CADBURY BOURNVITA and CADBURY 3-in-1 HOT CHOCOLATE", "TOMTOM CLASSIC, TOMTOM STRAWBERRY and BUTTERMINT", "COCOA POWDER and COCOA BUTTER"]
         }
df = pd.DataFrame(record)

new_df = df[['segments', 'manufacture and sale', 'Brands']]
# saving the dataframe
new_df.to_csv('new_record.csv')

# project 1

In [3]:
import pandas as pd
 
# making data frame from csv file
BTC = pd.read_csv("C:/Users/USER\Documents/c.onodingenecos102/week-8/BTC_DATA_V3.0.csv")
TREND = pd.read_csv("C:/Users/USER/Documents/c.onodingenecos102/week-8/programming language trend over time.csv")


# Extract the first row as a DataFrame
bf = BTC.iloc
tf = TREND.iloc


# Print the DataFrame
print(bf[:7])
print("\n")  
print(tf[:7])
print("\n")  

print(bf[:3])
print("\n")  
print(tf[:3])
print("\n")  

print(bf[:1])
print("\n")  
print(tf[:1])
print("\n")

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%


        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17
5  5/26/2019      55    57   17
6   6/2/2019      54    58   15


        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%


        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17


        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%


        Week  Python  Java  C++
0  4/21/2019      55    55   18

In [4]:
BTC

           Date    Price     Open     High      Low     Vol. Change %
0     25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1     24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2     23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3     22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4     21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
...         ...      ...      ...      ...      ...      ...      ...
1484   2-Mar-18  10827.7  10904.5  11167.0  10677.1  201.69K   -0.70%
1485   1-Mar-18  10904.5  10335.1  11047.8  10248.7  188.77K    5.52%
1486  28-Feb-18  10333.9  10584.4  11070.7  10303.4  215.22K   -2.46%
1487  27-Feb-18  10594.4  10287.8  10867.2  10120.5  202.58K    3.01%
1488  26-Feb-18  10285.1   9590.9  10378.4   9410.3  235.94K    7.30%

[1489 rows x 7 columns]

In [24]:
df=pd.DataFrame(BTC)
df.head(1)

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%

In [36]:
# row, column

df.iloc[:, :3]

           Date    Price     Open
0     25-Mar-22  44331.0  44013.0
1     24-Mar-22  44013.0  42911.0
2     23-Mar-22  42912.0  42373.0
3     22-Mar-22  42373.0  41022.0
4     21-Mar-22  41022.0  41282.0
...         ...      ...      ...
1484   2-Mar-18  10827.7  10904.5
1485   1-Mar-18  10904.5  10335.1
1486  28-Feb-18  10333.9  10584.4
1487  27-Feb-18  10594.4  10287.8
1488  26-Feb-18  10285.1   9590.9

[1489 rows x 3 columns]

In [37]:
df.head(7)

        Date    Price     Open     High      Low     Vol. Change %
0  25-Mar-22  44331.0  44013.0  45112.0  43622.0  494.09M    0.72%
1  24-Mar-22  44013.0  42911.0  44251.0  42658.0  491.66M    2.57%
2  23-Mar-22  42912.0  42373.0  43027.0  41795.0  433.96M    1.27%
3  22-Mar-22  42373.0  41022.0  43327.9  40893.0  537.06M    3.29%
4  21-Mar-22  41022.0  41282.0  41532.0  40530.0  406.62M   -0.62%
5  20-Mar-22  41276.0  42241.0  42301.0  40922.0  308.45M   -2.27%
6  19-Mar-22  42233.0  41768.0  42386.0  41529.6  224.59M    1.11%

In [40]:
df.iloc[100:200]

          Date    Price     Open     High      Low     Vol. Change %
100  15-Dec-21  48871.5  48366.2  49477.9  46572.6   80.28K    1.04%
101  14-Dec-21  48366.5  46709.8  48635.0  46338.3   62.54K    3.56%
102  13-Dec-21  46703.6  50075.9  50196.1  45848.2   80.37K   -6.74%
103  12-Dec-21  50081.0  49332.5  50779.2  48670.5   40.30K    1.55%
104  11-Dec-21  49314.5  47138.4  49487.0  46834.0   45.23K    4.62%
..         ...      ...      ...      ...      ...      ...      ...
195  11-Sep-21  45161.9  44844.9  45975.6  44766.6   41.58K    0.71%
196  10-Sep-21  44842.8  46385.9  47021.6  44283.6   75.62K   -3.33%
197   9-Sep-21  46385.6  46057.6  47305.7  45609.0   73.63K    0.70%
198   8-Sep-21  46061.4  46774.1  47316.9  44493.7  100.48K   -1.54%
199   7-Sep-21  46779.6  52674.2  52885.3  43072.4  187.56K  -11.19%

[100 rows x 7 columns]

In [43]:
df.iloc[300:500, 2:5]

        Open     High      Low
300  35664.5  37227.1  33664.2
301  38543.2  38844.1  34772.4
302  39249.0  40322.2  37190.8
303  38375.7  40750.0  37847.0
304  38753.6  39740.8  36540.7
..       ...      ...      ...
495  16074.7  16158.1  15782.3
496  16323.1  16328.2  15717.7
497  16293.0  16474.1  15973.4
498  15695.8  16342.7  15483.5
499  15303.1  15953.9  15281.0

[200 rows x 3 columns]

In [41]:
small_df = df[["Date", "Price", "Low", "Change %"]]

In [42]:
small_df

           Date    Price      Low Change %
0     25-Mar-22  44331.0  43622.0    0.72%
1     24-Mar-22  44013.0  42658.0    2.57%
2     23-Mar-22  42912.0  41795.0    1.27%
3     22-Mar-22  42373.0  40893.0    3.29%
4     21-Mar-22  41022.0  40530.0   -0.62%
...         ...      ...      ...      ...
1484   2-Mar-18  10827.7  10677.1   -0.70%
1485   1-Mar-18  10904.5  10248.7    5.52%
1486  28-Feb-18  10333.9  10303.4   -2.46%
1487  27-Feb-18  10594.4  10120.5    3.01%
1488  26-Feb-18  10285.1   9410.3    7.30%

[1489 rows x 4 columns]

# there was no excel for google play store